<%- include('partials/header') %>

<h2>My Goals</h2>

<% if (flash) { %>
  <div class="flash <%= flash.type %>"><%= flash.message %></div>
<% } %>

<a href="/usr/398/goals/add" class="btn">Add New Goal</a>

<table class="workout-table">
  <tr>
    <th>Title</th>
    <th>Target</th>
    <th>Period</th>
    <th>Created</th>
  </tr>

  <% goals.forEach(g => { %>
    <tr>
      <td><%= g.title %></td>
      <td><%= g.target_value %> <%= g.unit %></td>
      <td><%= g.period %></td>
      <td><%= g.created_at.toISOString().split("T")[0] %></td>
    </tr>
  <% }) %>
</table>

<%- include('partials/footer') %>
